/* Your CSS Here */
.pictureBoxes, #pictureDisplay {
  border: 2px solid black;
  display: inline-block;
  height: 25vh;
  width: 13vw;
  position: relative;
  left: 41%;
 /*Change this so that is only affects .pictureBoxes*/
  margin-top: 15vh;
  margin: 0.5%;
  white-space: nowrap;
}

.pictureBoxes {
  top: 10vh;
}

#boxHold {
  width: 100%;
  height: 100%;
  padding-right: 45%;
  padding-top: 20%;
}

h1 {
  text-align: center;
}

#pictureDisplay {
  margin-left: 14%; 
  bottom: 118vh;
  height: 42vh;
  width: 40vw;
}

img{
  background-position: center;
  background-size: contain;
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}
